config.py
test.py
get_tweets.py
**__pycache__/
*.csv
Notes.docx
*.parquet
*.parquet.gzip
*.gz.parquet
*_SUCCESS
**logs/
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*
# Default .gitignore content added by dbt Cloud
target/
dbt_packages/
logs/
# end dbt Cloud content
